beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
fuzzywuzzy==0.18.0
idna==3.10
Levenshtein==0.26.1
numpy==2.2.2
pandas==2.2.3
pyTelegramBotAPI==4.26.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-Levenshtein==0.26.1
pytz==2025.1
RapidFuzz==3.12.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wikipedia==1.4.0
